@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radix-yellow-1: 60 50% 98%;
    --radix-yellow-2: 54 91% 95%;
    --radix-yellow-3: 56 100% 86%;
    --radix-yellow-4: 53 100% 79%;
    --radix-yellow-5: 50 100% 72%;
    --radix-yellow-6: 48 85% 68%;
    --radix-yellow-7: 46 70% 65%;
    --radix-yellow-8: 45 65% 53%;
    --radix-yellow-9: 53 100% 58%;
    --radix-yellow-10: 52 100% 50%;
    --radix-yellow-11: 41 100% 31%;
    --radix-yellow-12: 42 39% 20%;

    --radix-yellow-dark-1: 47 29% 6%;
    --radix-yellow-dark-2: 45 29% 8%;
    --radix-yellow-dark-3: 45 80% 10%;
    --radix-yellow-dark-4: 48 100% 11%;
    --radix-yellow-dark-5: 47 100% 13%;
    --radix-yellow-dark-6: 48 95% 16%;
    --radix-yellow-dark-7: 46 63% 25%;
    --radix-yellow-dark-8: 45 60% 32%;
    --radix-yellow-dark-9: 53 100% 58%;
    --radix-yellow-dark-10: 60 100% 67%;
    --radix-yellow-dark-11: 53 90% 62%;
    --radix-yellow-dark-12: 53 79% 84%;

    --radix-sand-1: 60 20% 99%;
    --radix-sand-2: 60 8% 97%;
    --radix-sand-3: 30 7% 94%;
    --radix-sand-4: 40 6% 91%;
    --radix-sand-5: 45 6% 88%;
    --radix-sand-6: 45 5% 85%;
    --radix-sand-7: 48 5% 80%;
    --radix-sand-8: 51 5% 72%;
    --radix-sand-9: 60 3% 54%;
    --radix-sand-10: 60 2% 50%;
    --radix-sand-11: 60 3% 38%;
    --radix-sand-12: 48 8% 12%;

    --radix-sand-dark-1: 60 3% 6%;
    --radix-sand-dark-2: 60 2% 10%;
    --radix-sand-dark-3: 60 1% 13%;
    --radix-sand-dark-4: 60 2% 16%;
    --radix-sand-dark-5: 60 3% 19%;
    --radix-sand-dark-6: 45 4% 22%;
    --radix-sand-dark-7: 48 4% 28%;
    --radix-sand-dark-8: 43 4% 37%;
    --radix-sand-dark-9: 47 4% 42%;
    --radix-sand-dark-10: 53 3% 47%;
    --radix-sand-dark-11: 45 5% 69%;
    --radix-sand-dark-12: 60 6% 93%;

    --radix-orange-1: 20 60% 99%;
    --radix-orange-2: 33 100% 96%;
    --radix-orange-3: 37 100% 92%;
    --radix-orange-4: 34 100% 85%;
    --radix-orange-5: 33 100% 80%;
    --radix-orange-6: 30 100% 75%;
    --radix-orange-7: 27 87% 71%;
    --radix-orange-8: 25 80% 63%;
    --radix-orange-9: 23 93% 53%;
    --radix-orange-10: 24 100% 47%;
    --radix-orange-11: 23 100% 40%;
    --radix-orange-12: 16 50% 23%;

    --radix-orange-dark-1: 27 24% 7%;
    --radix-orange-dark-2: 28 33% 9%;
    --radix-orange-dark-3: 29 65% 12%;
    --radix-orange-dark-4: 28 100% 14%;
    --radix-orange-dark-5: 28 100% 17%;
    --radix-orange-dark-6: 27 79% 22%;
    --radix-orange-dark-7: 25 63% 30%;
    --radix-orange-dark-8: 23 60% 40%;
    --radix-orange-dark-9: 23 93% 53%;
    --radix-orange-dark-10: 26 100% 56%;
    --radix-orange-dark-11: 26 100% 67%;
    --radix-orange-dark-12: 30 100% 88%;

    --theme-yellow-50: 49 100% 96%;
    --theme-yellow-100: 48 100% 88%;
    --theme-yellow-200: 48 95% 76%;
    --theme-yellow-300: 48 94% 68%;
    --theme-yellow-400: 44 92% 63%;
    --theme-yellow-500: 42 87% 55%;
    --theme-yellow-600: 36 77% 49%;
    --theme-yellow-700: 29 80% 44%;
    --theme-yellow-800: 22 82% 39%;
    --theme-yellow-900: 15 86% 30%;

    --theme-gray-50: 0 0% 97%;
    --theme-gray-100: 0 0% 88%;
    --theme-gray-200: 0 0% 81%;
    --theme-gray-300: 0 0% 69%;
    --theme-gray-400: 0 0% 62%;
    --theme-gray-500: 0 0% 49%;
    --theme-gray-600: 0 0% 38%;
    --theme-gray-700: 0 0% 32%;
    --theme-gray-800: 0 0% 23%;
    --theme-gray-900: 0 0% 13%;

    --background: var(--radix-sand-1);
    --foreground: var(--radix-sand-12);

    --card: 0 0% 100%;
    --card-foreground: var(--foreground);

    --popover: 0 0% 100%;
    --popover-foreground: var(--foreground);

    --primary: var(--foreground);
    --primary-foreground: var(--background);

    --secondary: var(--radix-yellow-4);
    --secondary-foreground: var(--foreground);

    --muted: var(--radix-sand-2);
    --muted-foreground: var(--radix-sand-11);

    --accent: var(--radix-sand-4);
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: var(--radix-orange-9);
    --destructive-foreground: var(--background);

    --border: var(--radix-sand-6);
    --input: var(--radix-sand-7);
    --ring: var(--radix-sand-8);

    --radius: 0.5rem;

    --radix-black: var(--radix-sand-12);
    --radix-muted: var(--radix-sand-10);
  }

  .dark {
    --background: var(--radix-sand-dark-1);
    --foreground: var(--radix-sand-dark-12);

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: var(--foreground);
    --primary-foreground: var(--background);

    --secondary: var(--radix-yellow-dark-4);
    --secondary-foreground: var(--foreground);

    --muted: var(--radix-sand-dark-2);
    --muted-foreground: var(--radix-sand-dark-11);

    --accent: var(--radix-sand-dark-4);
    --accent-foreground: 210 40% 98%;

    --destructive: var(--radix-orange-dark-9);
    --destructive-foreground: var(--foreground);

    --border: var(--radix-sand-dark-6);
    --input: var(--radix-sand-dark-7);
    --ring: var(--radix-sand-dark-8);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}